body {
<<<<<<< HEAD
    color: blue;
=======
    color: red;
>>>>>>> rama1
    text-align: center; /* Cambiado a centro para dar un aspecto más estilizado */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo suave para el cuerpo de la página */
}

#container {
    width: 70%;
    padding: 1em;
    text-align: center; /* Alineación centrada para contenido dentro del contenedor */
    border: 1px solid #ddd;
    margin: 20px auto; /* Añadido espacio arriba y abajo del contenedor */
    background-color: #fff; /* Fondo blanco para el contenedor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para el contenedor */
}

#rama1 {
    font-size: 24px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    color: #007bff; /* Un azul suave para el texto */
    padding-bottom: 0.5em; /* Espacio debajo del título */
    border-bottom: 2px solid #007bff; /* Línea debajo del texto */
    margin-bottom: 1em; /* Espacio después de la línea */
}

#container h1 {
    font-size: 22px;
    color: #333; /* Más oscuro para destacar */
}

#post p {
    font-size: 16px;
    line-height: 1.6; /* Espaciado de línea para mejor lectura */
    color: #666; /* Color de texto suavizado */
}